.logo img {
  width: 100%;
}

.float-right {
  display: block;
  float: right;
}

/* Chrome, Safari, Edge, and Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.pagination {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
}

.pagination .active {
  font-weight: bold;
  background-color: #007bff;
  color: white;
}


.open-status-amount {
  color: green;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

.profit {
  color: green;
  text-align: right;
  font-size: 18px;
}
.loss {
  color: red;
  text-align: right;
  font-size: 18px;
}

.input-patti{
  width: 20% !important;
}

tr:nth-child(even) {
  background-color: #e9e8e8;
}

.bg-red{
  background:#ff000078!important;
  color:#ffffff!important;
}

.bg-blue{
  background: #1976d296!important;
  color: #ffffff!important;
}

.bg-purple{
  background: purple!important;
  color: #ffffff!important;
}

.bg-cadetblue{
  background: cadetblue!important;
    color: #fff!important;
}